.container
  display: flex

.aside
  flex: 0 0 15%
  display: flex
  flex-direction: column
  justify-content: space-between
  background-color: $color-light-gray

  @media only screen and (max-width: $bp-medium)
    flex: 0 0 20%

.main
  flex: 1
  display: flex
  flex-direction: column
  background-color: $color-white

.description
  display: flex
  justify-content: space-between
  height: 10rem
  padding: 2rem
  background-color: $color-white
  @include border-bottom

.content
  display: flex
  flex-direction: row
  flex-wrap: wrap

.photos
  flex: 0 0 70%

  @media only screen and (max-width: $bp-medium)
    flex: 0 0 100%

.aside-right
  flex: 0 0 30%

  @media only screen and (max-width: $bp-medium)
    flex: 1

.details
  display: flex
  padding: 2rem
  @include border-bottom
  border-top: 1px solid $color-light-gray

.book
  display: flex
  flex-direction: column
  align-items: center
  margin: 2rem 0
