.reviews
  &__box
    margin: 1.5rem 2rem 0 2rem
    padding: 1rem 1rem 0 1rem
    border: 1px solid $color-light-gray

  &__heading
    display: flex
    justify-content: space-between
    font-size: $font-size-large
    border-bottom: 1px solid $color-light-gray

  &__text
    display: flex
    justify-content: space-around
    padding: 1rem

  &__date
    display: block

  &__bar
    text-align: right
    padding-right: 20px
    color: white

    &:not(:last-child)
      margin-bottom: 1rem
